## Print Function

In [2]:
print("Hello! Python World")

Hello! Python World

In [3]:
print('Hello! Python World')

Hello! Python World

In [4]:
print("Hello! 'Python' World")   # we cannot use double quotes within double quotes

Hello! 'Python' World

In [5]:
print('Hello! "Python" World')   # we cannot use single quotes within single quotes

Hello! "Python" World

In [6]:
print("Hello \"Python\" World")

Hello "Python" World

In [7]:
print('Hello \'Python\' World')

Hello 'Python' World

In [10]:
# In triple qoutes we can use single qoutes or double qoutes or line break

print( """ Hello! My Name is "Muhammad Idrees", and this is 'Basics of Python' course """ )

 Hello! My Name is "Muhammad Idrees", and this is 'Basics of Python' course

In [11]:
print( '''

Name: Muhammad Idrees
Course: Modern Python
Location: Pakistan

''' )

Name: Muhammad Idrees
Course: Modern Python
Location: Pakistan